* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/**Header and Nav**/
header {
    /* display: block; */
    /* position: fixed; */
    width: 100%;
    z-index: 2;
    background-color: #000;
    height: 3em;
}

nav.main-nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

ul.main-links {
    display: flex;
    width: 100%;
}

ul.main-links > * {
    padding: .5em 2em;
    font-size: 1.2em;
}

li.logo {
    flex-grow: 2;
}

/* Main Content */

.panels {
    display: flex;
    min-height: 100vh;
    margin-top: 3.0em;
    position: fixed;
    z-index: 1;
    width: 100%;

}

.panel {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 ;
    transition:
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    }



.panel1 {
    background-image: url("../img/pic5.jpg");
    
}

.panel2 {
    background-image: url("../img/pic3.jpg");
    /* order: 1; Reorders the panels */
}

.panel3 {
    background-image: url("../img/pic4.jpg");
}

.panel4 {
    background-image: url("../img/pic2.jpg");
}

.panel5 {
    background-image: url("../img/pic1.jpg");
}

.panel p {
  font-size: 2em;
  color: #fff;
  align-self: center;
}

.panel > * {
    margin: 0;
    width: 100%;
    transition: transform .5s;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {
    transform: translateY(-100%);
}

.panel.open-active > *:first-child {
    transform: translateY(0%)
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel.open-active > *:last-child {
    transform: translateY(0%);
}

.panel.open {
    font-size: 1.5em;
    flex: 5;
}

/*Footer*/
footer {
    display: flex;
    z-index: 2; 
    width:100%;
    height: 75px;
    background-color: #000;
    align-items: center;
}

.footer-text {
    width: 100%;
    color: #fff;
    text-align: center;
}